html {
	scroll-behavior: smooth;
}

html, body {
	margin: 0;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
nav {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;     /* gap: 1.5vw; */

	/* height: 5em; */
}

nav a {
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	color: white;
}

li {
	display: flex;
	flex-direction: column;
	gap: 1.5vw;
}

ul {
	padding: 0;
}
footer {
	background-color: black;
	display: flex;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

footer a {
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	color: white;
}
a {
    text-decoration: none;
}
section {
    height: 100vh;
}

/* images */
.logoheader {
	width: 60%;
	margin: auto;
	padding-top: 3%;
	margin-bottom: 2%;
}

.logofooter {
	width: 60%;
}
.endflexgap {
	margin-bottom: 20px;
}
.gapfooter {
	margin-top: 10px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width:1224px) {
	nav {
		background-color: black;
		display: flex;
		flex-direction: row;
		gap: 50vw;
	}

	.endflexgap {
		margin-bottom: 0;
	}

	.logoheader {
		width: 60%;         /* margin: auto; */
		margin-right: 50%;
		padding-top: 3%;
		padding-left: 2vw;
	}

	.logofooter {
		width: 60%;
	}

	li {
		display: flex;
		flex-direction: row;
		padding-left: 4vw;
		padding-right: 5vw;
		gap: 5vw;
		margin-left: 10%;
	}


}