html {
	scroll-behavior: smooth;
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.scroll {
	display: none;
}

nav {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav a {
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	color: white;
}

li {
	display: flex;
	flex-direction: column;
	gap: 1.5vw;
}

ul {
	padding: 0;
}

footer {
	background-color: black;
	display: flex;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

footer a {
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	color: white;
}

section {
	height: fit-content;
	margin-bottom: 15%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center;
}

.apropos {
	width: 100%;
}

.imgapropos {
	width: 100%;
}

p {
	font-family: 'Kanit', sans-serif;
}

iframe {
	margin-left: 10%;
	height: 40%;
}

section.fourth-section {
	display: block;
}

.endflexgap {
	margin-bottom: 20px;
}

/* images */
.logoheader {
	width: 60%;
	margin: auto;
	padding-top: 3%;
}

.logofooter {
	width: 60%;
}

.h1img {
	display: flex;
	width: 85%;
	max-width: 100%;
	margin: auto;
}

.accueilimg {
	height: auto;
	max-width: 100%;
	margin-right: 31.5%;
}

.apropos {
	width: 40%;
}

.imgapropos {
	width: 40%;
	margin-bottom: 23%;
}

.cvimage {
	width: 60%;
	margin-left: 20%;
}

p {
	font-size: 3vw;
	text-align: justify;
	margin-right: 8%;
	margin-left: 8%;
}

.third-section p {
	margin-top: 32%;
}

.imageportfolio {
	display: flex;
	width: 30%;
	margin: auto;
	margin-bottom: 5%;
}

/* slider */
div#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: left;
}

div#slider figure img {
	width: 20%;
	height: auto;
	float: left;
}

div#slider {
	width: 75%;
	max-width: 1000px;
	overflow: hidden
}

@keyframes slidy {
	0% {
		left: 0%;
	}

	20% {
		left: 0%;
	}

	25% {
		left: -100%;
	}

	45% {
		left: -100%;
	}

	50% {
		left: -200%;
	}

	70% {
		left: -200%;
	}

	75% {
		left: -300%;
	}

	95% {
		left: -300%;
	}

	100% {
		left: -400%;
	}

}

div#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	left: 0;
	text-align: left;
	animation: 30s slidy infinite;
}

/* Fin slider */
div.gridportfolio {
	height: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center;
}

.divbutton {
	width: 40%;     /* Ajustez la largeur selon vos besoins */
	height: fit-content;
	border: black 0.3vw solid;
	border-radius: 16px;
	margin-left: 7.5%;
}

.textbutton {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
	font-family: 'Kanit', sans-serif;
	font-size: 1.4vw;
}

.gapfooter {
	margin-top: 10px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width:1224px) {
	.divbutton {
		width: 40%;     /* Ajustez la largeur selon vos besoins */
		border: black 0.3vw solid;
		border-radius: 16px;
		margin-left: 7.5%;
	}
	
	.textbutton {
		display: flex;
		justify-content: center;
		text-decoration: none;
		color: black;
		font-family: 'Kanit', sans-serif;
		font-size: 1.4vw;
	}
	nav {
		background-color: black;
		display: flex;
		flex-direction: row;
		gap: 50vw;
		height: 67.6px;
	}

	.endflexgap {
		margin-bottom: 0;
	}

	.logoheader {
		width: 60%;
		max-height: 67.6px;
		margin-right: 50%;
		padding-top: 3%;
		padding-left: 2vw;
	}

	.logofooter {
		width: 60%;
	}

	li {
		display: flex;
		flex-direction: row;
		padding-left: 4vw;
		padding-right: 5vw;
		gap: 5vw;
		margin-left: 10%;
	}

	section {
		height: fit-content;
	}

	iframe {
		margin-left: 10%;
		height: 40vh;
	}

	.accueilimg {
		object-fit: cover;
		height: 100%;
		max-width: 100%;
		margin-right: 31.5%;
	}

	section.first-section {
		height: 100vh;
	}

	.scroll {
		display: block;
		left: 50%;
		transform: translateY(0%) rotate(45deg);
		opacity: 0;
	}

	@keyframes scrolldown {
		0% {
			transform: translateY(20%) rotate(45deg);
			opacity: 0.7;
		}

		50% {
			transform: translateY(0%) rotate(45deg);
			opacity: 0.2;
		}

		100% {
			transform: translateY(20%) rotate(45deg);
			opacity: 0.7;
		}

	}
	p {
		font-size: 1.7vw;
		text-align: justify;
		margin-right: 8%;
		margin-left: 8%;
	}

}

@media only screen and (min-width:690px) and (max-width:1224px) {
	iframe {
		margin-left: 10%;
		height: 30vh;
	}

}